@model WEB_T04_Team6.Models.Member

@{
    ViewData["Title"] = "Voucher";
}

<h1>Voucher</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MBirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MBirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MTelNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MTelNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MEmailAddr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MEmailAddr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MPassword)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
